/*@import url("reset.css");*/

.tab-vehicle{
	margin-top: 2em;
	/*margin-bottom: 0.5em;*/
}

.tab-vehicle td{
	text-align: center;
	/*background-color: #ccc;*/
}

.tab-images{
	width: 1.5em;
	height: 1.5em;
}

.holder{
    width: 20em; 
    min-height: 20em; 
    /*margin: 2em auto;*/
    border: 0.5em dashed #ccc; 
}

.holder.hover{
    border: 10px dashed #0c0; 
}
               
.holder p { 
    margin: 10px; 
    font-size: 14px; 
}

progress { 
    width: 25%; 
}

progress:after { 
    content: '%'; 
}

.fail { 
    background: #c00; 
    padding: 2px;
    color: #fff; 
}

.hidden { 
    display: none !important;
}
