/*@import url("reset.css");*/

.open-post-info {
    font-weight: bold;
    margin-bottom: 0.5em;
    padding-left: 15px;
    background: url('../img/arrows.png') no-repeat 0;
    cursor: pointer;
}

.toggled {
    background: transparent url('../img/arrows.png') no-repeat 0 -13px;
}

.post-info {
    padding: 2rem 1rem 1rem;
    border: 1px solid #ccc;
    background: #eee url('../img/postmetabg.png') no-repeat right center;
    font: 11px;
    text-align: left;
    margin-bottom: 1em;
}

.post-info ul {
    margin-left: 5px;
    padding-left: 0;
    margin-right: 130px;
    width: 425px;
}

.post-info li {
    list-style: none;
    min-height: 16px;
    margin-bottom: 5px;
    padding-left: 22px;
    vertical-align: middle;
}

.mission-month{
    font-size: 10pt;
    width: 100%;
}

.mission-month-header{
    font-size: 12pt;
}


.footer-legend{
    font-size: 8pt;
    margin-top: -1.5em;
}

.th-mission{
    padding: 0;
    margin: 0;
    /*background-color: green;  */
}

.th-mission-center{
    padding: 0;
    margin: 0;
    text-align: center;
}

.td-text-center{
    text-align: center;
}

.td-mission-keyword{
    width: 175px;
}

.td-space-left{
    padding-left: 0.2rem !important;
}

.row-mission:hover{
    cursor: pointer;
    color: white;
    background-color: #e51b1b;
    /*background-color: #B22222;*/
}

.row-mission:hover a{
    color: silver;
}

@-moz-document url-prefix() {
    fieldset {
        display: table-cell;
    }
}

/**
 * Widget
 */
.center-mission-count{
/*  margin: 0 auto;
    width: 25px;
    font-size: 2em; */
    text-align: center;
    vertical-align: middle;
    font-size: 2em;
/*line-height: 90px;*/
}
