/*@import url("reset.css");*/


.open-post-info {
	font-weight: bold;
	margin-bottom: 0.5em;
	padding-left: 15px;
	background: url('../img/arrows.png') no-repeat 0 0;
}

.toggled {
	background: transparent url('../img/arrows.png') no-repeat 0 -14px;
}

.post-info {
	padding: 6px 4px 4px;
	border: 1px solid #ccc;
	background: #eee url('../img/postmetabg.png') no-repeat right center;
	font: 11px;
	text-align: left;
	margin-bottom: 1em;
}

.post-info ul {
	margin-left: 5px;
	padding-left: 0;
	margin-right: 130px;
	width: 425px;
}

.post-info li {
	list-style: none;
	min-height: 16px;
	margin-bottom: 5px;
	padding-left: 22px;
	vertical-align: middle;
}

.mission-month{
	font-size: 10pt;
	/*table-layout: fixed;*/
}

.mission-month-header{
	font-size: 12pt;
}

.th-mission-time{
	text-align: left;
}

.th-mission-infos{
	text-align: left;
}

.td-mission-date{
	width: 35px; /*5%;*/
	/*background-color: yellow;*/
}

.td-mission-time{
	width: 35px; /*10%*/
	text-align: center;
	/*background-color: green;*/
}

.td-mission-type{
	width: 155px; /*25%*/
	text-align: left;
	/*background-color: blue;*/
}

.td-mission-text{
	width: 180px; /*35%;*/
	/*background-color: purple;*/
	/*overflow: scroll;*/
}

.td-mission-location{
	width: 125px; /*15%*/
}

.td-mission-infos{
	width: 60px;/*5%*/;
	text-align: left;
}