/*@import url("reset.css");*/

.open-post-info {
    font-weight: bold;
    margin-bottom: 0.5em;
    padding-left: 15px;
    background: url('../img/arrows.png') no-repeat 0;
    cursor: pointer;
}

.toggled {
    background: transparent url('../img/arrows.png') no-repeat 0 -13px;
}

.post-info {
    padding: 2rem 1rem 1rem;
    border: 1px solid #ccc;
    background: #eee url('../img/postmetabg.png') no-repeat right center;
    font: 11px;
    text-align: left;
    margin-bottom: 1em;
}

.post-info ul {
    margin-left: 5px;
    padding-left: 0;
    margin-right: 130px;
    width: 425px;
}

.post-info li {
    list-style: none;
    min-height: 16px;
    margin-bottom: 5px;
    padding-left: 22px;
    vertical-align: middle;
}

@-moz-document url-prefix() {
    fieldset {
        display: table-cell;
    }
}

/**
 * Widget
 */
.center-mission-count {
    /*  margin: 0 auto;
        width: 25px;
        font-size: 2em; */
    text-align: center;
    vertical-align: middle;
    font-size: 2em;
    /*line-height: 90px;*/
}

.ffbs-vehicle {
    width: 110px;
}

.ffbs-showOnMobile {
    display: none !important;
}

.ffbs-counter, .elementor-counter .elementor-counter-title.ffbs-counterText {
    color: #fff;
}

h4.ffbs-frontPageMissionDateTime {
    font-size: 1.75rem;
}

h3.ffbs-frontPageMissionKeyword {
    font-size: 2.5rem;
    margin-bottom: 25px;
    margin-top: 10px;
}

@media (max-width: 815px) {
    .ffbs-hideOnMobile {
        display: none;
    }

    .ffbs-showOnMobile {
        display: block !important;
    }

    .ffbs-vehicle {
        width: 90px;
    }
}


